/*esse container vai abrigar tudo e vai servir de aspect ratio*/
.map-container {
	position: relative;
	width: 100%;
	max-width: 1920px; 
	min-width: 1000px;    
	aspect-ratio: 1920 / 1080; 
	margin: 0 auto;
	overflow: hidden;
}

.map-background {
	position: absolute; 
	inset: 0;
	background-image: url('../images/prototipo.png'); 
	background-size: cover; 
	background-position: center; 
	z-index: -1; 
}

.map-button {
	background-image: url('../images/button.png'); 
	z-index: 5; 
	position: absolute;
	width: 3.65%; 
	height: 3.24%;
	background-size: contain;
	background-repeat: no-repeat;
}

.game-card {
	position: absolute;
	width: 25vh;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	border-radius: 16px;
	border: 2px solid var(--cor-roxo);
	background-color: var(--cor-branco);
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
	gap: 13px;
	overflow: hidden;
	transform: translateZ(0);
	z-index: 6;
}

.game-card-cover {
	width: 100%;
	background-image: linear-gradient(135deg, var(--cor-azul), var(--cor-roxo));
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 3px solid var(--cor-borda);
	height: 20%;
	margin-bottom: 20px;
} 

.game-card a{
	background-image: linear-gradient(135deg, var(--cor-azul), var(--cor-roxo));
	color: var(--cor-branco);
	padding: 14px;
	border-radius: 16px;
	width: 45%;
	height: 17%;
	text-align: center;
	text-decoration: none;	
	font-size: 15px;
	font-weight: 700;
}


