<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Exercicios de Português</title>
</head>
<body>
	
	<div>
		<h1>Level 1</h1>
		
		<table border="1">
				Aqui é aonde vai ficar o enunciado
		  <form>
		  <tr>
		    <td>
				<input type="radio" value="Resposta 1">
				<label for="html">Resposta 1</label>
			</td>
		    <td>
				<input type="radio" value="Resposta 2">
				<label for="html">Resposta 2</label>
			</td>
		  </tr>
		  <tr>
		    <td>
				<input type="radio" value="Resposta 3">
				<label for="html">Resposta 3</label>
			</td>
		    <td>
				<input type="radio" value="Resposta 4">
				<label for="html">Resposta 4</label>
			</td>
		  </tr>
		  </form>
		</table>
		
		<a th:href="@{/studyarea/portuguese/level1}">
			<div><!-- precisaria de paginação para que ao precionar Proximo ele fosse para a
			proxima pergunta dentro do level-->
				<h2>Proximo</h2>
			</div>
		</a>
	
	</div>

	
	<footer>
	    <p>&copy; 2026 TeachStation. Todos os direitos reservados.</p>
	    <p>Projeto desenvolvido para fins educacionais.</p>
	</footer>
</body>
</html>