<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/css/styles.css}">
		<link rel="stylesheet" th:href="@{/css/study-map.css}">		
		<title>Língua Portuguesa - Fases</title>
	</head>
<body>
	<div class="map-container">		
		<div class="map-background"></div>

		<div>				 
			<!-- <a th:href="@{/studyarea/portuguese/level2}"> -->
			<a th:href="@{#}">
				<div id="btn1" class="map-button">			
				</div>
			</a>
		
			<a th:href="@{#}">
				<div id="btn2" class="map-button">			
				</div>
			</a>
			
			<a th:href="@{#}">
				<div id="btn3" class="map-button">			
				</div>
			</a>
			
			<div id="game-card" class="game-card">
				<div class="game-card-cover"></div>
				<p>iniciar</p>
				<a href="#">INICIAR</a>
			</div>
		</div>
	</div>

	
	<footer>
	    <p>&copy; 2026 TeachStation. Todos os direitos reservados.</p>
	    <p>Projeto desenvolvido para fins educacionais.</p>
	</footer>
	<script th:src="@{/js/map.js}"></script>
	<script>
		
		// x% = (pixelX / larguraOriginalDoMapa) * 100
		// y% = (pixelY / alturaOriginalDoMapa) * 100
		
		
		let botao1 = document.getElementById("btn1");
		let botao2 = document.getElementById("btn2");
		let botao3 = document.getElementById("btn3");
		let gameCard = document.getElementById("game-card")

		let cardYOffset = -500;
		let cardXOffset = parseFloat(getComputedStyle(gameCard).width) / 2;
						
				
		
		let gameObject1 = new GameObject(botao1, new Vector2( (500 / 1920) * 100, (656 / 1080) * 100) );
		let gameObject2 = new GameObject(botao2, new Vector2( (660 / 1920) * 100, (518/1080) * 100) );
		let gameObject3 = new GameObject(botao3, new Vector2( (1165 / 1920) * 100, (626/1080) * 100) );
		let cardObject = new GameObject(gameCard, new Vector2( ((500 - cardXOffset)/ 1920) * 100,  ((656 + cardYOffset)/ 1080)*100 ) )
		
	</script>
</body>
</html>