<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Área de Estudo de Português</title>
</head>
<body>
	
	
	<div>
		<h1>Exercícios de Português</h1>
			 
		<a th:href="@{/studyarea/portuguese/level1}">
			<div>
				<button type="" alt="Level 1">Level 1</button>
			</div>
		</a>
	
		<a th:href="@{/studyarea/portuguese/level2}">
			<div>
				<button type="" alt="Level 2">Level 2</button>
			</div>
		</a>
		
	</div>

	
	<footer>
	    <p>&copy; 2026 TeachStation. Todos os direitos reservados.</p>
	    <p>Projeto desenvolvido para fins educacionais.</p>
	</footer>
</body>
</html>