<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/css/studyarea.css}">
	<script th:src="@{/js/map.js}"></script>
	<title>Área de Estudos</title>
</head>	
<body>
	<header class="cabecalho-avaliacao">
		<h1>TeachStation</h1>
	</header>
	
	<main class="studyarea">
		<div class="title-segment">
			<h1>Escolha sua Área de Estudo</h1>
		</div>
		
		<div class="subject-segment">

			<div class="subject-wrapper">
				<h1 class="subject-title">Português</h1>
				<div class="subject-card">
					<div class="subject-media">
						<img th:src="@{/images/portugues.png}" alt="Língua Portuguesa">
					</div>
					<div class="area-progresso">
						<div class="barra-progresso">
							<div class="progresso-atual"></div>
						</div>
					</div>
					<a th:href="@{/studyarea/portuguese}">Iniciar</a>
				</div>
			</div>

			<div class="subject-wrapper">
				<h1 class="subject-title">Matemática</h1>
				<div class="subject-card disabled-card">
					<div class="subject-media">
						<img th:src="@{/images/matematica.png}" alt="Matemática">
						<img class="lock-icon" th:src="@{/images/lock.png}" alt="Bloqueado">
					</div>
					<div class="area-progresso">
						<div class="barra-progresso">
							<div class="progresso-atual"></div>
						</div>
					</div>
					<span class="disabled-link">Bloqueado</span>
				</div>
			</div>

			<div class="subject-wrapper">
				<h1 class="subject-title">Geografia</h1>
				<div class="subject-card disabled-card">
					<div class="subject-media">
						<img th:src="@{/images/geografia.png}" alt="Geografia">
						<img class="lock-icon" th:src="@{/images/lock.png}" alt="Bloqueado">
					</div>
					<div class="area-progresso">
						<div class="barra-progresso">
							<div class="progresso-atual"></div>
						</div>
					</div>
					<span class="disabled-link">Bloqueado</span>
				</div>
			</div>

		</div>
		
		
	</main>
	
		<footer class="rodape">
		    <p>&copy; 2026 TeachStation. Todos os direitos reservados.</p>
		    <p>Projeto desenvolvido para fins educacionais.</p>
		</footer>
		
		<div th:replace="~{fragments/vlibras :: widget-vlibras}"></div>
		
</body>
</html>