<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/css/studyarea.css}">
	<script th:src="@{/js/map.js}"></script>
	<title>Área de Estudos</title>
</head>	
<body>
	<header class="cabecalho-avaliacao">
		<h1>TeachStation</h1>
	</header>
	
	<main class="studyarea">
		<div class="title-segment">
			<h1>Escolha sua Área de Estudo</h1>
		</div>
		
		<div class="subject-segment"> <!-- português -->
			<div class="subject-card">
				<h1>Língua Portuguesa</h1>
				<img th:src="@{/images/LinguaPortuguesa.png}" alt="Língua Portuguesa">
				
				<div class="area-progresso">
					<div class="barra-progresso">
						<div class="progresso-atual"></div>
					</div>
				</div>
				<a th:href="@{/studyarea/portuguese }">Iniciar</a>
				
			</div>
			
			<div class="subject-card">
									<h1>Matemática</h1>
									<img th:src="@{/images/matematica.png}" alt="Matemática">
									
							<div class="area-progresso">
								<div class="barra-progresso">
									<div class="progresso-atual"></div>
								</div>
							</div>
						<a th:href="@{/studyarea/portuguese }">Iniciar</a>
					</div>
					
			<div class="subject-card">
					<h1>Geografia</h1>
					<img th:src="@{/images/geografia.png}" alt="Geografia">
							
					<div class="area-progresso">
						<div class="barra-progresso">
							<div class="progresso-atual"></div>
						</div>
					</div>
				<a th:href="@{/studyarea/portuguese }">Iniciar</a>
			</div>		
		
		</div>
		
		
	</main>
	
		<footer class="rodape">
		    <p>&copy; 2026 TeachStation. Todos os direitos reservados.</p>
		    <p>Projeto desenvolvido para fins educacionais.</p>
		</footer>
</body>
</html>